/* body{
background-color: blanchedalmond;
background-image: url("../images/maharaj.jpg");
background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 5px;

}
h1{
    color: red;
} */
div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: blue;
}
.linear{
    height: 300px;
    background: linear-gradient(orange, white, green);
}
.radial{
    height: 600px;
    background: radial-gradient(circle, orange, white, green);
}
.conic{
    height: 500px;
    background: conic-gradient(from 90deg,orange,white,green);
}